.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f5;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.sudokuBoard {
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* 9 колонок с равной шириной */
    grid-template-rows: repeat(9, 1fr); /* 9 строк с равной высотой */
    gap: 2px; /* Отступ между ячейками */
    width: 360px; /* Ширина всей доски */
    height: 360px; /* Высота всей доски */
}

.cell {
    width: 40px; /* Задаем фиксированную ширину */
    height: 40px; /* Задаем фиксированную высоту */
    text-align: center;
    font-size: 18px;
    border: 1px solid #999;
    border-radius: 4px; /* Закругленные углы */
    box-sizing: border-box; /* Учитываем границы и отступы в ширине и высоте */
}

.row {
    display: contents; /* Позволяет дочерним элементам быть прямыми дочерними элементами сетки */
}

.button {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049; /* Темнее при наведении */
}

.buttonPanel {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}