

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

.light {
    background-color: #f0f0f0;
    color: black;
}

.dark {
    background-color: #333;
    color: white;
}

.title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e0e0e0;
}

/* Дополнительные стили для кнопки в темной теме */
.dark .button {
    background-color: #555;
    border-color: white;
    color: white;
}

.dark .button:hover {
    background-color: #666;
}