.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f5;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.sudokuBoard {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    margin-bottom: 20px;
}

.sudokuBoard div {
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Увеличенный размер шрифта */
    transition: background-color 0.3s, border 0.3s;
}

/* Выделение границ модулей 3x3 */
.sudokuBoard div:nth-child(3n+1) {
    border-left: 2px solid #000; /* Левый край каждого модуля 3x3 */
}

.sudokuBoard div:nth-child(-n+27) {
    border-top: 2px solid #000; /* Верхний край первых трех модулей 3x3 */
}

.sudokuBoard div:nth-child(-n+9):nth-child(3n+1) {
    border-top: 2px solid #000; /* Верхний край первого модуля 3x3 */
}

.sudokuBoard div:nth-child(n+28):nth-child(3n+1) {
    border-top: 2px solid #000; /* Верхний край последнего модуля 3x3 */
}

/* Удаляем лишние границы между модулями 3x3 */
.sudokuBoard div:nth-child(3n+3) {
    border-right: none; /* Убираем правую границу для последнего элемента в строке каждого модуля */
}

.sudokuBoard div:nth-child(27n+1) {
    border-bottom: 2px solid #000; /* Нижний край для последнего ряда модулей 3x3 */
}

.sudokuBoard div:nth-child(27n+3) {
    border-bottom: none; /* Убираем нижнюю границу для последнего элемента в строке каждого модуля */
}

.buttonPanel {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.button {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049; /* Темнее при наведении */
}